.footerContainer {
  height: 20vh;
  width: 100vw;
  position: relative;
  bottom: 0%;
  left: 0%;
  right: 0%;
  padding-top: 1px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 20px auto;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.footerLogoImg {
  background-color: transparent;
  color: #ffffff;
  font-size: 100px;
}

.footerLstContainer {
  margin-top: -20px;
}
.footerLst {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLstItem {
  margin-left: 30px;
}
.footerLstLink {
  color: #7189f3;
  text-decoration: none;
}
.footerLstAdd {
  color: #b1b1b1;
  text-decoration: none;
}

/* For tablets and below (max-width: 768px) */
@media (max-width: 768px) {
  .footerLogoImg {
    font-size: 70px;
  }

  .footerLst {
    flex-wrap: wrap;
    gap: 10px;
  }

  .footerLstItem {
    margin-left: 15px;
    font-size: 14px;
  }
}

/* For mobile screens (max-width: 480px) */

@media (max-width: 480px) {
  .footerContainer {
    height: auto;
    padding-bottom: 20px;
  }

  .footerLogoImg {
    font-size: 50px;
  }

  .footerLst {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .footerLstItem {
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 12px;
  }
}
